<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <nav class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/restaurants">Restaurants</a>
    <a href="#">Clients</a>
    <a href="#">La carta</a>
  </nav>

  <body>
    <div class="container">
      <h1>No se que contenido poner aquí</h1>
    </div>
  </body>
</html>
