<div class="container">
  <h2>Afegir un restaurant nou:</h2>
  <br>
  <form action="/create-restaurant" method="POST">
    <label for="name">Nom del restaurant:</label>
    <input type="text" name="name" maxlength="255" required>
    <br>
    <label for="address">Adreça</label>
    <input type="text" name="address" maxlength="255" required>
    <br>
    <label for="city">Ciutat</label>
    <input type="text" name="city" maxlength="255" required>
    <br>
    <label for="state">Provincia</label>
    <input type="text" name="state" maxlength="255" required>
    <br>
    <label for="zipcode">Codi postal:</label>
    <input type="number" name="zipcode" min="1" max="99999" required>
    <br>
    <label for="phone">Telèfon:</label>
    <input type="number" name="phone" min="599999999" max="999999999" required>
    <br>
    <label for="type">Tipus de restaurant</label>
    <select name="type">
      <option value="No type selected" selected disabled>Escull un tipus:</option>
      <option value="China">China</option>
      <option value="Japones">Japonesa</option>
      <option value="Kebab">Kebab</option>
      <option value="Italià">Italià</option>
      <option value="Mediterranea">Mediterranea</option>
      <option value="Americana">Americana</option>
    </select>
    <button type="submit">Afegir restaurant</button>
  </form>
</div>
