@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 12px;
}

.column {
  float: left;
  width: 50%;
  flex: 50%;
}

.row {
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
